package components

import "goft/types"
import "fmt"

templ RoomsList(rooms []types.Room) {
	<div
		id="rooms"
		class="w-full grid grid-cols-3 gap-2 justify-center items-center"
	>
		for _, room := range rooms {
			<a class="bg-gray-200 p-3 rounded" href={ fmt.Sprintf("/chat/%d", room.ID) }>
				<div class="text-blue rounded max-w-max">{ room.Name }</div>
				<div class="rounded max-w-max">{ room.Description }</div>
			</a>
		}
	</div>
}
